:root {
    --rich-black: #020202; 
    --black-variation: #141414;
    --cream: #FFFDD3;
    --banana-mania: #F5EAB6;
    --dark-charcoal: #323333;
    --fs-h1: 2.488rem; 
    --fs-h2: 2.074rem; 
    --fs-h3: 1.728rem; 
    --fs-h4: 1.44rem; 
    --fs-h5: 1.2rem; 
    --fs-h6: 1rem; 
    --fs-small: 0.83rem; 
}
/* Global Styles */ 

* { 
    margin: 0; 
    padding: 0; 
    box-sizing: border-box; 
}

h1 {
    font-size: var(--fs-h1);
    color:white;
}

h2 {
    color: var(--rich-black); 
    font-weight:600; 
    font-size:var(--fs-h2);
}

h3 {
    font-size: var(--fs-h3); 
    font-weight: 400;
    color: var(--rich-black); 
}

h4 {
    font-size:var(--fs-h4);
    font-weight: 400;  
    color:var(--rich-black);
}

.small {
    font-size: var(--fs-small); 
}

ul {
    list-style-type: none; 
}

a {
    text-decoration: none; 
    color: var(--black-variation);
}

body { 
    background-color: var(--banana-mania); 
    font-family:'Source Sans Pro', 'Times New Roman', Times, serif;
}

.flex-row{
    display:flex; 
    flex-wrap: wrap; 
    gap: 1rem; 
}

.flex-column{
    display:flex; 
    flex-flow:column; 
    gap: 1rem; 
}

/* Header */
header img {
    height: 44px; 
    width: auto; 
}

header { 
    justify-content:space-between; 
    align-items:center; 
    padding:1rem; 
    background-color: var(--rich-black);
}

header nav li a{ 
    font-family: 'Libre Baskerville', sans-serif;
    font-size: var(--fs-h5);
    color: white; 
}

header nav li a:hover{ 
    color: var(--banana-mania);
}
header nav li a:active{
    color: var(--banana-mania); 
}

/* Project Section */
.content-wrapper{
    align-items:center; 
    text-align:right; 
}

#projects {
    padding: 2%; 
    height: 40%; 
    width: 40%; 
}

#projects img{ 
    max-width: 100%; 
    max-height: 100%; 
    display: block; 
}
/* Footer */
footer {
    background-color:var(--rich-black); 
    font-family: 'Libre Baskerville', sans-serif;
    color: white; 
    padding: 1rem;
    align-items:center;
}

footer a {
    color:white; 
}

footer ul i {
    font-size: var(--fs-h5);
}

/* Responsive Design */
@media(max-width: 700px){
    header{
        flex-direction:column; 
    }

    #projects {
        padding: 2%; 
        height: 100%; 
        width: 100%; 
    }
    
    #projects img{ 
        max-width: 100%; 
        max-height: 100%; 
        display: block; 
    }
}